body{
    background-color: rgb(205, 199, 191);
    color: rgb(179, 36, 36);
    margin: 10px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Roboto", "Inter";
    font-size: larger;
}

p{
    color: black;
    font-size: 25px;
}

ul{
    color: black;
    list-style-type: none;
    padding: 15px;
    font-size: 1.5em;
}


a{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}


div{
    background-color: pink;
    width: 1280px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

#text{
    text-align: center;
}

#ingredients{
    height: 300px;
    text-align: left;
}